body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 white;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}
  .keyboard{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283149;
  }

.set {
  display: flex;
  position: relative;
  margin-left: 4px;
}
.white-key{
  width: 50px;
  height: 140px;
  background-color: antiquewhite;
  border: 3px solid black;
  margin-left: -2px;
  border-radius: 0 0 5px 5px;
  outline: none;
  cursor: pointer;
  
}
.white-key.active {
   background-color: #686464; 
}
.black-key{
  position: absolute;
  width: 35px;
  height: 100px;
  border-radius: 0 0 4px 4px;
  background-image: linear-gradient(black,rgb(39, 39, 39));
  border:2px solid black;
  outline: none;
  cursor: pointer;

}
.black-key.active {
  background-image: linear-gradient(#000000, #101010);
}
.Db4-key {
  left: 30px;
}
.Eb4-key{
  left: 78px;
}
.Gb4-key{
  left:174px;
}
.Ab4-key{
  left:222px;
}
.Bb4-key{
  left:270px;
}
.Db5-key{
  left:366px ;
}
.Eb5-key{
  left:414px ;
}

